# Configuración de la aplicación
FLASK_ENV=production
FLASK_DEBUG=False
SECRET_KEY=tu_clave_secreta_muy_segura_aqui

# Configuración de MySQL
MYSQL_HOST=comandas-javiersopor9-20f5.j.aivencloud.com
MYSQL_PORT=11906
MYSQL_USER=avnadmin
MYSQL_PASSWORD=AVNS_00hEQzD6sm3WO-V3bV0
MYSQL_DB=comandas

# Configuración de SSL (opcional)
MYSQL_SSL_CA=ca.pem 